In [1]:
import requests
import pandas as pd
import time

all_records = []

for page in range(1, 6):

    url = (f"https://api.coingecko.com/api/v3/coins/markets"
           f"?vs_currency=inr&per_page=250&order=market_cap_desc"
           f"&page={page}&sparkline=False")

    response = requests.get(url)
    all_data = response.json()

    if response.status_code != 200:
       print(f"Error on page {page}: {response.status_code}")
       time.sleep(20)
       continue

    for i in all_data:
        all_records.append(dict(
            id=i["id"],
            symbol=i["symbol"],
            name=i["name"],
            current_price=i["current_price"],
            market_cap=i["market_cap"],
            market_rank=i["market_cap_rank"],
            total_volume=i["total_volume"],
            circulating_supply=i["circulating_supply"],
            total_supply=i["total_supply"],
            ath=i["ath"],
            atl=i["atl"],
            last_updated=i["last_updated"]
        ))


    time.sleep(20)


coins_df = pd.DataFrame(all_records)

coins_df["last_updated"] = pd.to_datetime(coins_df["last_updated"], errors="coerce").dt.date

coins_df

#completed all 5 pages readed

,id,symbol,name,current_price,market_cap,market_rank,total_volume,circulating_supply,total_supply,ath,atl,last_updated
0,bitcoin,btc,Bitcoin,6.365686e+06,127216956600498,1,3.860206e+12,1.998636e+07,1.998640e+07,11187013.00,3.993420e+03,2026-02-08
1,ethereum,eth,Ethereum,1.888890e+05,22793953276600,2,1.785812e+12,1.206926e+08,1.206926e+08,431946.00,2.813000e+01,2026-02-08
2,tether,usdt,Tether,9.052000e+01,16706540072693,3,5.939507e+12,1.845730e+11,1.900399e+11,105.52,3.686000e+01,2026-02-08
3,binancecoin,bnb,BNB,5.781700e+04,7885948230064,4,8.890215e+10,1.363596e+08,1.363596e+08,121422.00,2.580000e+00,2026-02-08
4,ripple,xrp,XRP,1.293800e+02,7881544512577,5,2.363506e+11,6.091732e+10,9.998572e+10,313.99,1.593430e-01,2026-02-08
...,...,...,...,...,...,...,...,...,...,...,...,...
1245,tominet,tomi,TOMI,3.535000e-09,791698263,1246,6.313500e+04,2.239778e+17,2.239778e+17,543.78,1.846000e-09,2026-02-08
1246,ado-network,ado,ADO Protocol,1.980000e+00,790829379,1247,7.932681e+06,4.000000e+08,8.600000e+08,5.85,9.557300e-04,2026-02-08
1247,thorswap,thor,THORSwap,5.020000e+00,790482702,1248,3.955485e+06,1.575408e+08,2.100684e+08,226.45,2.670000e+00,2026-02-08
1248,re-protocol-reusde,reusde,Re Protocol reUSDe,1.191500e+02,789485889,1249,5.879287e+06,6.625284e+06,6.625284e+06,143.16,8.985000e+01,2026-02-08
1249,bas,bas,BNB Attestation Service,3.168280e-01,789387374,1250,2.371763e+08,2.500000e+09,1.000000e+10,14.65,2.345520e-01,2026-02-08

In [45]:
coins_df.isnull().sum()

id                     0
symbol                 0
name                   0
current_price          0
market_cap             0
market_rank            0
total_volume          16
circulating_supply     0
total_supply           2
ath                    0
atl                    0
last_updated           0
dtype: int64

In [7]:
import pandas as pd 
import requests
import time

coin_ids = ["bitcoin","ethereum","tether","binancecoin","ripple"]

all_data =[]

for coin_id in coin_ids:
    url = f"https://api.coingecko.com/api/v3/coins/{coin_id}/market_chart?vs_currency=usd&days=365"
    response = requests.get(url)
    
    if response.status_code != 200:
       print(f"Error fetching {coin_id}: {response.status_code}")
       continue
        
    data = response.json()
    
    if 'prices' not in data:
        print(f"No price data for {coin_id}: {data}")
        continue
         
    all_data.extend([{
    "coin_id": coin_id,
    "date": pd.to_datetime(ts, unit='ms').date(),
    "price_usd": price
     } 
     for ts, price in data['prices']])


    time.sleep(10)

top_df = pd.DataFrame(all_data)

top_df



#completed top 5 crypto  historical prices

      coin_id        date     price_usd
0     bitcoin  2025-02-09  96558.237625
1     bitcoin  2025-02-10  96548.578654
2     bitcoin  2025-02-11  97399.981614
3     bitcoin  2025-02-12  95739.977371
4     bitcoin  2025-02-13  97836.188561
...       ...         ...           ...
1825   ripple  2026-02-05      1.517056
1826   ripple  2026-02-06      1.216111
1827   ripple  2026-02-07      1.469080
1828   ripple  2026-02-08      1.425215
1829   ripple  2026-02-08      1.435557

[1830 rows x 3 columns]

In [41]:
import pandas as pd

oil_df = pd.read_csv("https://raw.githubusercontent.com/datasets/oil-prices/main/data/wti-daily.csv")

oil_df["Date"] = pd.to_datetime(oil_df["Date"])

filtered_oil_df = oil_df[
    (oil_df["Date"] >= "2020-01-01")&
    (oil_df["Date"] <= "2026-01-31")
]

filtered_oil_df


#oil_prices from jan2020 to jan2026 completed

            Date  Price
8569  2020-01-02  61.17
8570  2020-01-03  63.00
8571  2020-01-06  63.27
8572  2020-01-07  62.70
8573  2020-01-08  59.65
...          ...    ...
10084 2026-01-26  60.46
10085 2026-01-27  62.04
10086 2026-01-28  62.75
10087 2026-01-29  64.77
10088 2026-01-30  64.50

[1520 rows x 2 columns]

In [3]:
import yfinance as yf
import pandas as pd

tickers = ["^GSPC","^IXIC","^NSEI"]
start_date = "2020-01-01"
end_date = "2026-01-31"

stocks_df = yf.download(tickers,start = start_date,end = end_date, group_by ="ticker")

gspc_df = stocks_df["^GSPC"].reset_index().dropna()
gspc_df["Ticker"] = "^GSPC"
gspc_df.rename(columns={"Date": "date"}, inplace=True)

nsei_df = stocks_df["^NSEI"].reset_index().dropna()
nsei_df["Ticker"] = "^NSEI"
nsei_df.rename(columns={"Date": "date"}, inplace=True)

ixic_df = stocks_df["^IXIC"].reset_index().dropna()
ixic_df["Ticker"] = "^IXIC"
ixic_df.rename(columns={"Date": "date"}, inplace=True)

all_stocks_df = pd.concat([gspc_df, ixic_df, nsei_df], ignore_index=True)

all_stocks_df

[*********************100%***********************]  3 of 3 completed

Price,date,Open,High,Low,Close,Volume,Ticker
0,2020-01-02,3244.669922,3258.139893,3235.530029,3257.850098,3.459930e+09,^GSPC
1,2020-01-03,3226.360107,3246.149902,3222.340088,3234.850098,3.484700e+09,^GSPC
2,2020-01-06,3217.550049,3246.840088,3214.639893,3246.280029,3.702460e+09,^GSPC
3,2020-01-07,3241.860107,3244.909912,3232.429932,3237.179932,3.435910e+09,^GSPC
4,2020-01-08,3238.590088,3267.070068,3236.669922,3253.050049,3.726840e+09,^GSPC
...,...,...,...,...,...,...,...
4557,2026-01-23,25344.599609,25347.949219,25025.300781,25048.650391,3.939000e+05,^NSEI
4558,2026-01-27,25063.349609,25246.650391,24932.550781,25175.400391,6.187000e+05,^NSEI
4559,2026-01-28,25258.849609,25372.099609,25187.650391,25342.750000,5.749000e+05,^NSEI
4560,2026-01-29,25345.000000,25458.150391,25159.800781,25418.900391,5.824000e+05,^NSEI
4561,2026-01-30,25247.550781,25370.699219,25213.650391,25320.650391,5.084000e+05,^NSEI

In [ ]:
#data frames are finished

In [ ]:
# mysql conncection ,tables creation and data insertions

In [1]:
import pymysql

conn = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    password="goku",
    
)

cpa_cursor = conn.cursor()

print("connection successfully")

connection successfully

In [ ]:
cpa_cursor.execute("CREATE DATABASE IF NOT EXISTS cross_platform_analysis")

print("data base ready")

In [6]:
cpa_cursor.execute("USE cross_platform_analysis")

print("database connected")

database connected

In [59]:
cpa_cursor.execute("DROP TABLE IF EXISTS crypto_currencies")
conn.commit()

print("table deleted")

table deleted

In [8]:
cpa_cursor.execute("""CREATE TABLE IF NOT EXISTS crypto_currencies(
id VARCHAR(255) PRIMARY KEY,
symbol VARCHAR(20),
name VARCHAR(100),
current_price DECIMAL(18,6),
market_cap BIGINT,
market_rank INT,
total_volume BIGINT,
circulating_supply DECIMAL(40,6),
total_supply DECIMAL(40,6),
ath DECIMAL(18,6),
atl DECIMAL(18,6),
last_updated DATE
)""")

conn.commit()


print("table created")

table created

In [19]:
cpa_cursor.execute("TRUNCATE TABLE crypto_currencies")

conn.commit()

print("table cleared")

table cleared

In [20]:
import numpy as np

coins_df = coins_df.replace({np.nan:None})

insert_query = """INSERT INTO crypto_currencies(
id,symbol,name,current_price,market_cap,
market_rank,total_volume,
circulating_supply,
total_supply,ath,atl,last_updated
)
VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""

for _, row in coins_df.iterrows():
    cpa_cursor.execute(insert_query,(
        row["id"],
        row["symbol"],
        row["name"],
        row["current_price"],
        row["market_cap"],
        row["market_rank"],
        row["total_volume"],
        row["circulating_supply"],
        row["total_supply"],
        row["ath"],
        row["atl"],
        row["last_updated"]
    ))
conn.commit()

print("Inserted Successfully")

Inserted Successfully

In [12]:
print(coins_df["id"].duplicated().sum())

1

In [15]:
dup_ids = coins_df[coins_df["id"].duplicated()]["id"]
print(dup_ids)

Series([], Name: id, dtype: object)

In [18]:
cpa_cursor.execute("SELECT COUNT(*) FROM crypto_currencies")
print(cpa_cursor.fetchone())

(1000,)

In [14]:
coins_df = coins_df.drop_duplicates(subset=["id"])

print("duplicates removed")

duplicates removed

In [63]:
cpa_cursor.execute("DESCRIBE crypto_currencies")
print(cpa_cursor.fetchall())

(('id', 'varchar(255)', 'NO', 'PRI', None, ''), ('symbol', 'varchar(20)', 'YES', '', None, ''), ('name', 'varchar(100)', 'YES', '', None, ''), ('current_price', 'decimal(18,6)', 'YES', '', None, ''), ('market_cap', 'bigint', 'YES', '', None, ''), ('market_rank', 'int', 'YES', '', None, ''), ('total_volume', 'bigint', 'YES', '', None, ''), ('circulating_supply', 'decimal(40,6)', 'YES', '', None, ''), ('total_supply', 'decimal(40,6)', 'YES', '', None, ''), ('ath', 'decimal(18,6)', 'YES', '', None, ''), ('atl', 'decimal(18,6)', 'YES', '', None, ''), ('last_updated', 'date', 'YES', '', None, ''))

In [ ]:
#coins_df inserted successfully

In [21]:
cpa_cursor.execute("""CREATE TABLE IF NOT EXISTS crypto_prices(
coin_id VARCHAR(50),
date DATE,
price_usd DECIMAL(18,6)
) """)

print("table created")

table created

In [43]:
cpa_cursor.execute("TRUNCATE TABLE crypto_prices")
conn.commit()

print("Old data cleared ✅")

Old data cleared ✅

In [6]:
cpa_cursor.execute("DROP TABLE IF EXISTS crypto_prices")
conn.commit()

print("table deleted")

table deleted

In [22]:
import numpy as np
top_df = top_df.replace({np.nan:None})

insert_query2 = """INSERT INTO crypto_prices(
coin_id,date,price_usd
)VALUES(%s,%s,%s)"""

for _, row in top_df.iterrows():
    cpa_cursor.execute(insert_query2,(
        row["coin_id"],
        row["date"],
        row["price_usd"]
    ))

conn.commit()

print("top_df data inserted in crypto_prices")

top_df data inserted in crypto_prices

In [38]:
cpa_cursor.execute("""CREATE TABLE IF NOT EXISTS oil_prices(
date DATE PRIMARY KEY,
price_usd DECIMAL(18,6)
)""")

print("table created")

table created

In [37]:
cpa_cursor.execute("DROP TABLE IF EXISTS oil_prices")

print("table deleted")

table deleted

In [42]:
cpa_cursor.execute("TRUNCATE TABLE oil_prices")
conn.commit()

print("Old data cleared ✅")

Old data cleared ✅

In [44]:
import numpy as np
filtered_oil_df = filtered_oil_df.replace({np.nan:None})

insert_query3 = """INSERT INTO oil_prices(date,
price_usd)VALUES(%s,%s)"""

for _, row in filtered_oil_df.iterrows():
    cpa_cursor.execute(insert_query3,(
        row["Date"],
        row["Price"]
    ))

conn.commit()

print("filter_oil_df data inserted successfully")

filter_oil_df data inserted successfully

In [13]:
cpa_cursor.execute("""CREATE TABLE IF NOT EXISTS stock_prices(
date DATE,
open DECIMAL(18,6),
high DECIMAL(18,6),
low DECIMAL(18,6),
close DECIMAL(18,6),
volume BIGINT,
ticker VARCHAR(25),
PRIMARY KEY (date, ticker)

)""")

print("table created")

table created

In [7]:
cpa_cursor.execute("TRUNCATE TABLE stock_prices")
conn.commit()

print("Old data cleared ✅")

Old data cleared ✅

In [8]:
import numpy as np

gspc_df = gspc_df.replace({np.nan:None})
nsei_df = nsei_df.replace({np.nan:None})
ixic_df = ixic_df.replace({np.nan:None})

insert_query4 = """INSERT INTO stock_prices(
date,open,
high,low,
close,
volume,
ticker
)VALUES(%s,%s,%s,%s,%s,%s,%s)"""
def insert_df(stocks_df):
   for _, row in stocks_df.iterrows():
       cpa_cursor.execute(insert_query4,(
       row["date"],
       row["Open"],
       row["High"],
       row["Low"],
       row["Close"],
       row["Volume"],
       row["Ticker"],
    
      ))

insert_df(gspc_df)
insert_df(nsei_df)
insert_df(ixic_df)



conn.commit()

print("stocks_df data inserted in stock_prices")

stocks_df data inserted in stock_prices

In [ ]:
# all tables are created and datas inserted successfully

In [ ]:
#sql queries start here

In [ ]:
#cryptocurency queries

In [9]:
import pandas as pd 

top3_crypto = """SELECT id,symbol,name,current_price,
                 total_volume,circulating_supply,
                 total_supply,
                 ath,atl,last_updated
                 FROM crypto_currencies ORDER BY market_cap DESC LIMIT 3;"""

cpa_cursor.execute(top3_crypto)

top3_cryptocurrencies = cpa_cursor.fetchall()

df_top3 = pd.DataFrame(top3_cryptocurrencies,columns = [col[0] for col in cpa_cursor.description])

df_top3

#Find the top 3 cryptocurrencies by market cap completed

,id,symbol,name,current_price,total_volume,circulating_supply,total_supply,ath,atl,last_updated
0,bitcoin,btc,Bitcoin,5878094.000000,14951121075085,19985021.000000,19985043.000000,11187013.000000,3993.420000,2026-02-06
1,ethereum,eth,Ethereum,172019.000000,6537740167830,120692919.179321,120692919.179321,431946.000000,28.130000,2026-02-06
2,tether,usdt,Tether,90.650000,22633618845372,185716038614.827300,191182975698.136200,105.520000,36.860000,2026-02-06

In [18]:
import pandas as pd

circulatingsupply_exceeds = """SELECT id,symbol,name,current_price,
                                         (circulating_supply/total_supply) * 100 AS supply_percent
                               FROM crypto_currencies
                               WHERE total_supply IS NOT NULL
                                  AND circulating_supply / total_supply > 0.9
                               ORDER BY supply_percent DESC ;"""

cpa_cursor.execute(circulatingsupply_exceeds)

circulatingsupply_exceeds = cpa_cursor.fetchall()

df_exceeds = pd.DataFrame(circulatingsupply_exceeds,columns = [ col[0] for col in cpa_cursor.description])

df_exceeds

#circulating supply exceeds 90% of total supply. completed successfully

,id,symbol,name,current_price,supply_percent
0,falcon-finance,usdf,Falcon USD,90.370000,109.3408362173
1,cap-usd,cusd,Cap USD,87.770000,107.5496666095
2,resolv-rlp,rlp,Resolv Liquidity Provider Token,116.340000,103.2473800252
3,curve-fi-frax-usdc,crvfrax,Curve.fi FRAX/USDC,91.510000,101.6101115219
4,circle-internet-group-ondo-tokenized-stock,crclon,Circle Internet Group (Ondo Tokenized Stock),4621.260000,101.3048267753
...,...,...,...,...,...
627,cartesi,ctsi,Cartesi,2.410000,90.3277431790
628,balancer,bal,Balancer,15.250000,90.3016550551
629,siacoin,sc,Siacoin,0.104173,90.0479983945
630,69420,69420,69420,0.019009,90.0350000000
631,conflux-token,cfx,Conflux,4.180000,90.0052992197

In [21]:
import pandas as pd 

all_time_high = """SELECT id,symbol,name,current_price,ath,
                     (current_price/ath) * 100 AS ath_percent
                   FROM crypto_currencies
                   WHERE ath IS NOT NULL
                      AND current_price/ath >= 0.9
                   ORDER BY ath_percent DESC ;"""

cpa_cursor.execute(all_time_high)

all_time_high = cpa_cursor.fetchall()

df_ath = pd.DataFrame(all_time_high,columns = [col[0] for col in cpa_cursor.description])

df_ath

#ALL TIME HIGH COMPLETED

,id,symbol,name,current_price,ath,ath_percent
0,yochi,yochi,Yochi,0.002290,0.002289,100.0436871997
1,greyhunt,hunt,Greyhunt,78.520000,78.560000,99.9490835031
2,usda-2,usda,USDa,90.530000,90.580000,99.9448001766
3,frax,frax,Legacy Frax Dollar,91.550000,91.620000,99.9235974678
4,diamond-token-2,dit,DIAMOND TOKEN 💎,13.170000,13.190000,99.8483699773
...,...,...,...,...,...,...
131,gama-token,gama,Gama Token,69.380000,76.600000,90.5744125326
132,first-digital-usd,fdusd,First Digital USD,90.600000,100.070000,90.5366243629
133,usd-coinvertible,usdcv,USD CoinVertible,90.770000,100.530000,90.2914552870
134,ishares-russell-1000-growth-etf-ondo-tokenized...,iwfon,iShares Russell 1000 Growth ETF (Ondo Tokenize...,40403.000000,44771.000000,90.2436845279
135,mimbogamegroup,mgg,MimboGameGroup,0.243406,0.269744,90.2359273978

In [25]:
import pandas as pd

average_rank = """SELECT AVG(market_rank) AS avg_market_cap_rank
                  FROM crypto_currencies
                  WHERE total_volume > 1000000000;"""

cpa_cursor.execute(average_rank)

average_rank = cpa_cursor.fetchall()

df_avgrank = pd.DataFrame(average_rank,columns = [ col[0] for col in cpa_cursor.description])

df_avgrank

#AVG RANK COMPLETED

  avg_market_cap_rank
0            375.6602

In [34]:
import pandas as pd 
  
recently_updated = """SELECT * FROM crypto_currencies
                      AS most_recentlty_updated_coin
                      ORDER BY last_updated DESC
                      LIMIT 1;"""

cpa_cursor.execute(recently_updated)

recently_updated = cpa_cursor.fetchall()

df_recentlyupdated = pd.DataFrame(recently_updated,columns = [col[0] for col in cpa_cursor.description])

df_recentlyupdated

#Get the most recently updated coin. COMPLETED

,id,symbol,name,current_price,market_cap,market_rank,total_volume,circulating_supply,total_supply,ath,atl,last_updated
0,0x,zrx,0x Protocol,8.970000,7626101636,299,1798741047,848396562.906836,1000000000.000000,179.790000,8.090000,2026-02-06

In [ ]:
#cryptocurrency queries are finished

In [23]:
import pandas as pd 

highest_daily_price = """SELECT MAX(price_usd) AS highest_daily_price FROM
                         crypto_prices
                         WHERE coin_id = "bitcoin"
                         AND date >= CURRENT_DATE - INTERVAL 365 DAY;"""

cpa_cursor.execute(highest_daily_price)

highest_daily_price = cpa_cursor.fetchall()

df_highest_daily_price = pd.DataFrame(highest_daily_price, columns = [col[0] for col in cpa_cursor.description])

df_highest_daily_price

#Find the highest daily price of Bitcoin in the last 365 days. completed

  highest_daily_price
0       124773.508231

In [24]:
import pandas as pd 

avg_daily_price_ethereum = """SELECT AVG(price_usd) AS avg_dailyprice_ethereum 
                              FROM crypto_prices
                              WHERE coin_id = "ethereum"
                              AND date >= CURRENT_DATE - INTERVAL 365 DAY;"""

cpa_cursor.execute(avg_daily_price_ethereum)

avg_daily_price_ethereum = cpa_cursor.fetchall()

df_avg_dailyprice_ethereum = pd.DataFrame(avg_daily_price_ethereum, columns = [col[0] for col in cpa_cursor.description])

df_avg_dailyprice_ethereum

#Calculate the average daily price of Ethereum in the past 1 year. completed

  avg_dailyprice_ethereum
0         3028.6419536366

In [32]:
import pandas as pd 

dailyprice_trend = """SELECT date,price_usd 
                      FROM crypto_prices
                      WHERE coin_id = "bitcoin"
                      AND date BETWEEN "2025-03-01" AND "2025-03-31"
                      ORDER BY date ASC"""

cpa_cursor.execute(dailyprice_trend)

dailyprice_trend = cpa_cursor.fetchall()

bitcoin_dailyprice_trend = pd.DataFrame(dailyprice_trend ,columns = [col[0] for col in cpa_cursor.description])

bitcoin_dailyprice_trend 



#daily price trend of Bitcoin in march 2025.

          date     price_usd
0   2025-03-01  84441.901224
1   2025-03-02  86005.256297
2   2025-03-03  94261.532865
3   2025-03-04  86124.714187
4   2025-03-05  87310.805311
5   2025-03-06  90604.080985
6   2025-03-07  90001.400876
7   2025-03-08  86773.335976
8   2025-03-09  86142.983359
9   2025-03-10  80751.138933
10  2025-03-11  78783.940579
11  2025-03-12  82799.108029
12  2025-03-13  83884.245788
13  2025-03-14  81098.900524
14  2025-03-15  83971.709161
15  2025-03-16  84391.690876
16  2025-03-17  82610.617503
17  2025-03-18  84075.365597
18  2025-03-19  82780.030487
19  2025-03-20  86815.441095
20  2025-03-21  84270.843590
21  2025-03-22  84009.532918
22  2025-03-23  83793.308542
23  2025-03-24  85787.709149
24  2025-03-25  87327.729697
25  2025-03-26  87520.583915
26  2025-03-27  86960.855549
27  2025-03-28  87227.271580
28  2025-03-29  84359.469155
29  2025-03-30  82679.172554
30  2025-03-31  82356.381112

In [29]:
import pandas as pd

highest_average_price = """SELECT coin_id, AVG(price_usd)
                           AS highest_average_yearly
                           FROM crypto_prices
                           WHERE date >= CURRENT_DATE - INTERVAL 365 DAY
                           GROUP BY coin_id
                           ORDER BY highest_average_yearly
                           DESC LIMIT 1;"""

cpa_cursor.execute(highest_average_price)

highest_average_price = cpa_cursor.fetchall()

highestaverage_coin_price = pd.DataFrame(highest_average_price,columns = [col[0] for col in cpa_cursor.description])

highestaverage_coin_price

#Find the coin with the highest average price over 1 year completed successfully

   coin_id highest_average_yearly
0  bitcoin      100248.5973412186

In [33]:
import pandas as pd

change_in_price = """SELECT ((feb2026.price_usd - feb2025.price_usd)/ feb2026.price_usd)
                     * 100 AS bitcoin_percent_change
                     FROM
                     (SELECT price_usd FROM crypto_prices
                     WHERE coin_id = "bitcoin" AND
                     date BETWEEN "2025-02-01" AND "2025-02-28"
                     ORDER BY date DESC
                     LIMIT 1
                     ) AS feb2025,

                     (SELECT price_usd FROM crypto_prices
                     WHERE coin_id = "bitcoin" AND
                     date BETWEEN "2026-02-01" AND "2026-02-28"
                     ORDER BY date DESC
                     LIMIT 1) AS feb2026;
                  """

cpa_cursor.execute(change_in_price)

change_in_price = cpa_cursor.fetchall()

bitcoin_percent_change = pd.DataFrame(change_in_price,columns = [col[0] for col in cpa_cursor.description])

bitcoin_percent_change

#Get the % change in Bitcoin’s price between feb 2025 to feb 2026 completed

  bitcoin_percent_change
0         -20.1314250622

In [ ]:
#crypto_prices query finished

In [46]:
import pandas as pd 

highest_oil_price = """SELECT MAX(price_usd) AS 
                       highest_oil_price_of_5years 
                       FROM oil_prices
                       WHERE date >= CURRENT_DATE - INTERVAL 5 YEAR
                       ORDER BY price_usd DESC
                       LIMIT 1;"""

cpa_cursor.execute(highest_oil_price)

highest_oil_price = cpa_cursor.fetchall()

highest_oil_price_of_5years = pd.DataFrame( highest_oil_price,columns =[col[0] for col in cpa_cursor.description])

highest_oil_price_of_5years 

#Find the highest oil price in the last 5 years completely

  highest_oil_price_of_5years
0                  123.640000

In [50]:
import pandas as pd 

average_oil_price = """SELECT 
                       YEAR(date) AS year,
                       AVG(price_usd) AS average_oil_price_per_year
                       FROM oil_prices
                       GROUP BY YEAR(date)
                       ORDER BY year;"""

cpa_cursor.execute(average_oil_price)

average_oil_price = cpa_cursor.fetchall()

average_oil_price_per_year = pd.DataFrame(average_oil_price, columns = [col[0] for col in cpa_cursor.description])

average_oil_price_per_year

#average oil price per year completed

   year average_oil_price_per_year
0  2020              39.1604365079
1  2021              68.1350996016
2  2022              94.9028685259
3  2023              77.5765322581
4  2024              76.6322400000
5  2025              65.3881048387
6  2026              60.0370000000

In [53]:
import pandas as pd 

covid_oil_prices = """SELECT date,price_usd FROM oil_prices
                      WHERE date BETWEEN "2020-03-01" AND "2020-04-30"
                      ORDER BY date ASC"""

cpa_cursor.execute(covid_oil_prices)

covid_oil_prices = cpa_cursor.fetchall()

covid_crash = pd.DataFrame(covid_oil_prices,columns =[col[0] for col in cpa_cursor.description])

covid_crash

#COVID crash (March–April 2020) completed successfully

          date   price_usd
0   2020-03-02   46.780000
1   2020-03-03   47.270000
2   2020-03-04   46.780000
3   2020-03-05   45.900000
4   2020-03-06   41.140000
5   2020-03-09   31.050000
6   2020-03-10   34.470000
7   2020-03-11   33.130000
8   2020-03-12   31.560000
9   2020-03-13   31.720000
10  2020-03-16   28.960000
11  2020-03-17   26.960000
12  2020-03-18   20.480000
13  2020-03-19   25.090000
14  2020-03-20   19.480000
15  2020-03-23   23.330000
16  2020-03-24   21.030000
17  2020-03-25   20.750000
18  2020-03-26   16.600000
19  2020-03-27   15.480000
20  2020-03-30   14.100000
21  2020-03-31   20.510000
22  2020-04-01   20.280000
23  2020-04-02   25.180000
24  2020-04-03   28.360000
25  2020-04-06   26.210000
26  2020-04-07   23.540000
27  2020-04-08   24.970000
28  2020-04-09   22.900000
29  2020-04-13   22.360000
30  2020-04-14   20.150000
31  2020-04-15   19.960000
32  2020-04-16   19.820000
33  2020-04-17   18.310000
34  2020-04-20  -36.980000
35  2020-04-21    8.910000
36  2020-04-22   13.640000
37  2020-04-23   15.060000
38  2020-04-24   15.990000
39  2020-04-27   12.170000
40  2020-04-28   12.400000
41  2020-04-29   15.040000
42  2020-04-30   19.230000

In [59]:
import pandas as pd

lowest_price = """SELECT date, price_usd AS 
                  lowest_oil_price_of_10years 
                  FROM oil_prices
                  WHERE date >= CURRENT_DATE - INTERVAL 10 YEAR
                  ORDER BY price_usd ASC
                  LIMIT 1;
                  """

cpa_cursor.execute(lowest_price)

lowest_price = cpa_cursor.fetchall()

lowest_oil_price_of_10years = pd.DataFrame(lowest_price,columns = [col[0] for col in cpa_cursor.description])

lowest_oil_price_of_10years

#lowest price of oil in the last 10 years. completed

         date lowest_oil_price_of_10years
0  2020-04-20                  -36.980000

In [60]:
import pandas as pd

votality_prices = """SELECT 
                           YEAR(date) AS year,
                           MAX(price_usd) AS Maxprice,
                           MIN(price_usd) AS Minprice,
                           (MAX(price_usd) - MIN(price_usd)) AS votality_of_oil_prices
                           FROM oil_prices
                           GROUP BY YEAR(date)
                           ORDER BY year;
                     """


cpa_cursor.execute(votality_prices)

votality_prices = cpa_cursor.fetchall()

votality_of_oil_prices = pd.DataFrame(votality_prices, columns =[col[0] for col in cpa_cursor.description])

votality_of_oil_prices


#Calculate the volatility of oil prices

   year    Maxprice    Minprice votality_of_oil_prices
0  2020   63.270000  -36.980000             100.250000
1  2021   85.640000   47.470000              38.170000
2  2022  123.640000   71.050000              52.590000
3  2023   93.670000   66.610000              27.060000
4  2024   87.690000   66.730000              20.960000
5  2025   80.730000   55.440000              25.290000
6  2026   64.770000   56.010000               8.760000

In [ ]:
#oil_prices completed

In [9]:
import pandas as pd

all_stock_prices = """SELECT * FROM stock_prices
                      WHERE ticker IN  ("^GSPC","^IXIC","^NSEI")
                      ORDER BY ticker,date ASC"""

cpa_cursor.execute(all_stock_prices)

all_stock_prices = cpa_cursor.fetchall()

all_stock_prices = pd.DataFrame(all_stock_prices , columns =[col[0] for col in cpa_cursor.description])

all_stock_prices

#Get all stock prices for a given ticker completed

,date,open,high,low,close,volume,ticker
0,2020-01-02,3244.669922,3258.139893,3235.530029,3257.850098,3459930000,^GSPC
1,2020-01-03,3226.360107,3246.149902,3222.340088,3234.850098,3484700000,^GSPC
2,2020-01-06,3217.550049,3246.840088,3214.639893,3246.280029,3702460000,^GSPC
3,2020-01-07,3241.860107,3244.909912,3232.429932,3237.179932,3435910000,^GSPC
4,2020-01-08,3238.590088,3267.070068,3236.669922,3253.050049,3726840000,^GSPC
...,...,...,...,...,...,...,...
4557,2026-01-23,25344.599609,25347.949219,25025.300781,25048.650391,393900,^NSEI
4558,2026-01-27,25063.349609,25246.650391,24932.550781,25175.400391,618700,^NSEI
4559,2026-01-28,25258.849609,25372.099609,25187.650391,25342.750000,574900,^NSEI
4560,2026-01-29,25345.000000,25458.150391,25159.800781,25418.900391,582400,^NSEI
4561,2026-01-30,25247.550781,25370.699219,25213.650391,25320.650391,508400,^NSEI

In [16]:
import pandas as pd 

highest_closing_price = """SELECT date,close FROM stock_prices
                           WHERE ticker = "^IXIC" ORDER BY 
                           close DESC LIMIT 1;"""

cpa_cursor.execute(highest_closing_price)

highest_closing_price = cpa_cursor.fetchall()

highest_closing_price_nasdaq = pd.DataFrame(highest_closing_price , columns = [col[0] for col in cpa_cursor.description])

highest_closing_price_nasdaq

#Find the highest closing price for NASDAQ (^IXIC) completed

         date         close
0  2025-10-29  23958.470703

In [21]:
import pandas as pd 

high_price_differance = """SELECT date,high,low,
                           (high - low) AS top_5_price_differance_gspc
                           FROM stock_prices
                           WHERE ticker = "^GSPC"
                           ORDER BY  top_5_price_differance_gspc
                           DESC LIMIT 5;"""

cpa_cursor.execute(high_price_differance) 

high_price_differance = cpa_cursor.fetchall()

top5_price_differance_gspc = pd.DataFrame(high_price_differance , columns =[col[0] for col in cpa_cursor.description])

top5_price_differance_gspc

#List top 5 days with highest price difference (high - low) for S&P 500 (^GSPC completed

         date         high          low top_5_price_differance_gspc
0  2025-04-09  5481.339844  4948.430176                  532.909668
1  2025-04-07  5246.569824  4835.040039                  411.529785
2  2025-04-08  5267.470215  4910.419922                  357.050293
3  2025-04-10  5353.149902  5115.270020                  237.879882
4  2025-11-20  6770.350098  6534.049805                  236.300293

In [22]:
import pandas as pd

monthly_average = """SELECT ticker,
                     DATE_FORMAT(date, "%Y-%m") AS month,
                     AVG(close) AS monthly_average_closing_price
                     FROM stock_prices
                     GROUP BY ticker, month
                     ORDER BY ticker, month
                     """

cpa_cursor.execute(monthly_average)

monthly_average = cpa_cursor.fetchall()

monthly_average_closing_price = pd.DataFrame(monthly_average, columns = [col[0] for col in cpa_cursor.description])

monthly_average_closing_price

#Get monthly average closing price for each ticker completed

    ticker    month monthly_average_closing_price
0    ^GSPC  2020-01               3278.2028576667
1    ^GSPC  2020-02               3277.3141832632
2    ^GSPC  2020-03               2652.3936323636
3    ^GSPC  2020-04               2761.9752255714
4    ^GSPC  2020-05               2919.6084838000
..     ...      ...                           ...
214  ^NSEI  2025-09              24942.6749821364
215  ^NSEI  2025-10              25494.0835192857
216  ^NSEI  2025-11              25894.8343955789
217  ^NSEI  2025-12              25997.7387250909
218  ^NSEI  2026-01              25652.9626953000

[219 rows x 3 columns]

In [24]:
import pandas as pd

average_trading = """SELECT ticker,
                     AVG(volume) AS average_trading_volume_2024
                     FROM stock_prices
                     WHERE ticker = "^NSEI"
                     AND YEAR(date) = 2024;
                     """

cpa_cursor.execute(average_trading)

average_trading = cpa_cursor.fetchall()

average_trading_volume_2024 = pd.DataFrame(average_trading, columns = [col[0] for col in cpa_cursor.description])

average_trading_volume_2024

#Get average trading volume of NSEI in 2024 completed

  ticker average_trading_volume_2024
0  ^NSEI                 313560.1626

In [ ]:
#stocks_prices query completed

In [31]:
import pandas as pd

bitcoin_vs_oil = """SELECT 
                    bitcoin.avg_bitcoin_price_2025,
                    oil.avg_oil_price_2025
                    FROM
                    (SELECT AVG(price_usd) AS avg_bitcoin_price_2025
                    FROM crypto_prices
                    WHERE coin_id = "bitcoin"
                    AND YEAR(date) = 2025) AS bitcoin
                    
                    JOIN
                    
                    (SELECT AVG(price_usd) AS avg_oil_price_2025
                    FROM oil_prices
                    WHERE YEAR(date) = 2025)
                    AS oil
                    """

cpa_cursor.execute(bitcoin_vs_oil)

bitcoin_vs_oil = cpa_cursor.fetchall()

bitcoin_vs_oil_average_price_2025 = pd.DataFrame(bitcoin_vs_oil , columns = [col[0] for col in cpa_cursor.description])

bitcoin_vs_oil_average_price_2025 

#Compare Bitcoin vs Oil average price in 2025. completed

  avg_bitcoin_price_2025 avg_oil_price_2025
0      101905.7406888067      65.3881048387

In [32]:
import pandas as pd

btc_with_sap = """SELECT 
                  bitcoin.date,
                  bitcoin.price_usd AS bitcoin_price,
                  sp.close AS sp500_close
                  FROM crypto_prices bitcoin
                  JOIN stock_prices sp
                  ON bitcoin.date = sp.date
                  WHERE bitcoin.coin_id ="bitcoin"
                  AND sp.ticker = "^GSPC"
                  AND YEAR(bitcoin.date) = 2025
                  ORDER BY bitcoin.date;
                  """

cpa_cursor.execute(btc_with_sap)

btc_with_sap = cpa_cursor.fetchall()

bitcoin_moves_with_sandp500 = pd.DataFrame(btc_with_sap, columns = [col[0] for col in cpa_cursor.description])

bitcoin_moves_with_sandp500

#Check if Bitcoin moves with S&P 500 (correlation idea).completed

           date bitcoin_price  sp500_close
0    2025-02-10  96548.578654  6066.439941
1    2025-02-11  97399.981614  6068.500000
2    2025-02-12  95739.977371  6051.970215
3    2025-02-13  97836.188561  6115.069824
4    2025-02-14  96561.663999  6114.629883
..          ...           ...          ...
220  2025-12-24  87406.436367  6932.049805
221  2025-12-26  87229.780660  6929.939941
222  2025-12-29  87822.908291  6905.740234
223  2025-12-30  87156.562661  6896.240234
224  2025-12-31  88414.628561  6845.500000

[225 rows x 3 columns]

In [36]:
import pandas as pd

ethereum_and_nasdaq = """SELECT ethereum.date,
                          ethereum.price_usd AS ethereum_price,
                          nasdaq.close AS nasdaq_close
                          FROM crypto_prices ethereum
                          JOIN stock_prices nasdaq
                          ON ethereum.date = nasdaq.date
                          WHERE ethereum.coin_id = 'ethereum'
                          AND nasdaq.ticker = '^IXIC'
                          AND YEAR(ethereum.date) = 2025
                          ORDER BY ethereum.date;
                          """

cpa_cursor.execute(ethereum_and_nasdaq)

ethereum_and_nasdaq = cpa_cursor.fetchall()

ethereum_and_nasdaq_dailyprices_2025 = pd.DataFrame(ethereum_and_nasdaq , columns = [col[0] for col in cpa_cursor.description])

ethereum_and_nasdaq_dailyprices_2025

#Compare Ethereum and NASDAQ daily prices for 2025. completed

           date ethereum_price  nasdaq_close
0    2025-02-10    2632.535822  19714.269531
1    2025-02-11    2660.296800  19643.859375
2    2025-02-12    2603.033370  19649.949219
3    2025-02-13    2736.270314  19945.640625
4    2025-02-14    2675.709001  20026.769531
..          ...            ...           ...
220  2025-12-24    2965.193660  23613.310547
221  2025-12-26    2904.252345  23593.099609
222  2025-12-29    2947.859761  23474.349609
223  2025-12-30    2934.215602  23419.080078
224  2025-12-31    2970.055474  23241.990234

[225 rows x 3 columns]

In [44]:
import pandas as pd

oil_spike_vs_bitcoinchange = """
                             SELECT *
                             FROM(
                             SELECT oil.date,
                             oil.price_usd AS oil_price,
                             oil.price_usd - LAG(oil.price_usd) OVER (ORDER BY oil.date) AS oil_spike,
                             bitcoin.price_usd AS bitcoin_price,
                             bitcoin.price_usd - LAG(bitcoin.price_usd) OVER (ORDER BY bitcoin.date) AS bitcoin_change
                             FROM oil_prices oil
                             JOIN crypto_prices bitcoin
                             ON oil.date = bitcoin.date
                             WHERE bitcoin.coin_id = 'bitcoin'
                             AND YEAR(oil.date) = 2025 
                             ) AS t
                             WHERE oil_spike > oil_price * 0.05 
                             ORDER BY date;
                             """

cpa_cursor.execute(oil_spike_vs_bitcoinchange)

oil_spike_vs_bitcoinchange = cpa_cursor.fetchall()

oil_price_spike_vs_bitcoin_price_change = pd.DataFrame(oil_spike_vs_bitcoinchange , columns = [col[0] for col in cpa_cursor.description])

oil_price_spike_vs_bitcoin_price_change

#Find days when oil price spiked and compare with Bitcoin price change. completed

         date  oil_price oil_spike  bitcoin_price bitcoin_change
0  2025-06-13  73.840000  5.110000  105979.229024   -2700.747068
1  2025-10-23  62.440000  3.140000  107618.426672    -867.675955

In [45]:
import pandas as pd

top3_coins = """SELECT 
                crypto.date,
                crypto.coin_id,
                crypto.price_usd AS coin_price,
                stock.close AS nifty_close
                FROM crypto_prices crypto
                JOIN stock_prices stock
                ON crypto.date = stock.date
                WHERE crypto.coin_id IN ('bitcoin','ethereum','tether')
                AND stock.ticker = "^NSEI"
                AND YEAR(crypto.date) = 2025
                ORDER BY crypto.date, crypto.coin_id;
             """

cpa_cursor.execute(top3_coins)

top3_coins = cpa_cursor.fetchall()

top3_coins_daily_price_trend_vs_Nifty = pd.DataFrame(top3_coins , columns = [col[0] for col in cpa_cursor.description])

top3_coins_daily_price_trend_vs_Nifty

#top 3 coins daily price trend vs Nifty completed

           date   coin_id    coin_price   nifty_close
0    2025-02-10   bitcoin  96548.578654  23381.599609
1    2025-02-10  ethereum   2632.535822  23381.599609
2    2025-02-10    tether      1.000171  23381.599609
3    2025-02-11   bitcoin  97399.981614  23071.800781
4    2025-02-11  ethereum   2660.296800  23071.800781
..          ...       ...           ...           ...
655  2025-12-30  ethereum   2934.215602  25938.849609
656  2025-12-30    tether      0.998916  25938.849609
657  2025-12-31   bitcoin  88414.628561  26129.599609
658  2025-12-31  ethereum   2970.055474  26129.599609
659  2025-12-31    tether      0.999019  26129.599609

[660 rows x 4 columns]

In [46]:
import pandas as pd

gspc_vs_oil = """
              SELECT
                  stock.date,
                  stock.close AS sp500_close,
                  oil.price_usd AS oil_price
              FROM stock_prices stock
              JOIN oil_prices oil
                 ON stock.date = oil.date
              WHERE stock.ticker = '^GSPC'
                AND YEAR(stock.date) = 2025
              ORDER BY stock.date;
              """
cpa_cursor.execute(gspc_vs_oil)

gspc_vs_oil = cpa_cursor.fetchall()

gspc_prices_vs_oil_prices_on_samedates = pd.DataFrame(gspc_vs_oil, columns = [col[0] for col in cpa_cursor.description])

gspc_prices_vs_oil_prices_on_samedates

#Compare stock prices (^GSPC) with crude oil prices on the same dates completed

           date  sp500_close  oil_price
0    2025-01-02  5868.549805  73.790000
1    2025-01-03  5942.470215  74.640000
2    2025-01-06  5975.379883  74.310000
3    2025-01-07  5909.029785  74.990000
4    2025-01-08  5918.250000  73.990000
..          ...          ...        ...
243  2025-12-24  6932.049805  58.720000
244  2025-12-26  6929.939941  56.600000
245  2025-12-29  6905.740234  57.890000
246  2025-12-30  6896.240234  57.790000
247  2025-12-31  6845.500000  57.260000

[248 rows x 3 columns]

In [47]:
import pandas as pd

bitcoin_vs_oil = """SELECT 
                    bitcoin.date,
                    bitcoin.price_usd AS bitcoin_price,
                    oil.price_usd AS oil_price
                    FROM crypto_prices bitcoin
                    JOIN oil_prices oil
                    ON bitcoin.date = oil.date
                    WHERE bitcoin.coin_id = 'bitcoin'
                    AND YEAR(bitcoin.date) = 2025
                    ORDER BY bitcoin.date;
                    """

cpa_cursor.execute(bitcoin_vs_oil)

bitcoin_vs_oil = cpa_cursor.fetchall()

bitcoin_closingprice_with_oilclosingprice_samedates = pd.DataFrame(bitcoin_vs_oil , columns = [col[0] for col in cpa_cursor.description])

bitcoin_closingprice_with_oilclosingprice_samedates

#Correlate Bitcoin closing price with crude oil closing price (same date) completed

           date bitcoin_price  oil_price
0    2025-02-10  96548.578654  72.730000
1    2025-02-11  97399.981614  73.670000
2    2025-02-12  95739.977371  71.720000
3    2025-02-13  97836.188561  71.660000
4    2025-02-14  96561.663999  71.050000
..          ...           ...        ...
218  2025-12-24  87406.436367  58.720000
219  2025-12-26  87229.780660  56.600000
220  2025-12-29  87822.908291  57.890000
221  2025-12-30  87156.562661  57.790000
222  2025-12-31  88414.628561  57.260000

[223 rows x 3 columns]

In [49]:
import pandas as pd

nasdaq_vs_ethereum = """
                     SELECT ethereum.date,
                     ethereum.price_usd AS ethereum_price,
                     nasdaq.close AS nasdaq_close
                     FROM crypto_prices ethereum
                     JOIN stock_prices nasdaq
                     ON ethereum.date = nasdaq.date
                     WHERE ethereum.coin_id = 'ethereum'
                     AND nasdaq.ticker = '^IXIC'
                     AND YEAR(ethereum.date) = 2025
                     ORDER BY ethereum.date;
                     """

cpa_cursor.execute(nasdaq_vs_ethereum)

nasdaq_vs_ethereum = cpa_cursor.fetchall()

ixic_with_ethereum_pricetrends = pd.DataFrame(nasdaq_vs_ethereum , columns = [col[0] for col in cpa_cursor.description])

ixic_with_ethereum_pricetrends

#Compare NASDAQ (^IXIC) with Ethereum price trends completed successfully

           date ethereum_price  nasdaq_close
0    2025-02-10    2632.535822  19714.269531
1    2025-02-11    2660.296800  19643.859375
2    2025-02-12    2603.033370  19649.949219
3    2025-02-13    2736.270314  19945.640625
4    2025-02-14    2675.709001  20026.769531
..          ...            ...           ...
220  2025-12-24    2965.193660  23613.310547
221  2025-12-26    2904.252345  23593.099609
222  2025-12-29    2947.859761  23474.349609
223  2025-12-30    2934.215602  23419.080078
224  2025-12-31    2970.055474  23241.990234

[225 rows x 3 columns]

In [50]:
import pandas as pd

top3_crypto_with_stockindices = """
                                 SELECT 
                                 crypto.date,
                                 crypto.coin_id,
                                 crypto.price_usd AS coin_price,
                                 nsei.close AS nifty_close,
                                 gspc.close AS sp500_close,
                                 ixic.close AS nasdaq_close
                                 FROM crypto_prices crypto
                                 JOIN stock_prices nsei
                                 ON crypto.date = nsei.date AND nsei.ticker = '^NSEI'
                                 JOIN stock_prices gspc
                                 ON crypto.date = gspc.date AND gspc.ticker = '^GSPC'
                                 JOIN stock_prices ixic
                                 ON crypto.date = ixic.date AND ixic.ticker = '^IXIC'
                                 WHERE crypto.coin_id IN ('bitcoin','ethereum','tether')
                                 AND YEAR(crypto.date) = 2025
                                 ORDER BY crypto.date, crypto.coin_id;
                                 """
cpa_cursor.execute(top3_crypto_with_stockindices)

top3_crypto_with_stockindices = cpa_cursor.fetchall()

top3cryptocoins_with_stock_indices_2025 = pd.DataFrame(top3_crypto_with_stockindices, columns = [col[0] for col in cpa_cursor.description])

top3cryptocoins_with_stock_indices_2025

,date,coin_id,coin_price,nifty_close,sp500_close,nasdaq_close
0,2025-02-10,bitcoin,96548.578654,23381.599609,6066.439941,19714.269531
1,2025-02-10,ethereum,2632.535822,23381.599609,6066.439941,19714.269531
2,2025-02-10,tether,1.000171,23381.599609,6066.439941,19714.269531
3,2025-02-11,bitcoin,97399.981614,23071.800781,6068.500000,19643.859375
4,2025-02-11,ethereum,2660.296800,23071.800781,6068.500000,19643.859375
...,...,...,...,...,...,...
637,2025-12-30,ethereum,2934.215602,25938.849609,6896.240234,23419.080078
638,2025-12-30,tether,0.998916,25938.849609,6896.240234,23419.080078
639,2025-12-31,bitcoin,88414.628561,26129.599609,6845.500000,23241.990234
640,2025-12-31,ethereum,2970.055474,26129.599609,6845.500000,23241.990234
641,2025-12-31,tether,0.999019,26129.599609,6845.500000,23241.990234

In [51]:
import pandas as pd

stock_oil_bitcoin = """
                    SELECT bitcoin.date,
                           bitcoin.price_usd AS bitcoin_price,
                           oil.price_usd AS oil_price,
                           nsei.close AS nifty_close,
                           gspc.close AS sp500_close,
                           ixic.close AS nasdaq_close
                    FROM crypto_prices bitcoin
                    JOIN oil_prices oil
                        ON bitcoin.date = oil.date
                    JOIN stock_prices nsei
                        ON bitcoin.date = nsei.date AND nsei.ticker = '^NSEI'
                    JOIN stock_prices gspc
                        ON bitcoin.date = gspc.date AND gspc.ticker = '^GSPC'
                    JOIN stock_prices ixic
                        ON bitcoin.date = ixic.date AND ixic.ticker = '^IXIC'
                    WHERE bitcoin.coin_id = 'bitcoin'
                      AND YEAR(bitcoin.date) = 2025
                    ORDER BY bitcoin.date;
                    """

cpa_cursor.execute(stock_oil_bitcoin)

stock_oil_bitcoin = cpa_cursor.fetchall()

stock_oil_bitcoin_daily_comparison = pd.DataFrame(stock_oil_bitcoin , columns = [col[0] for col in cpa_cursor.description])

stock_oil_bitcoin_daily_comparison

#Multi-join: stock prices, oil prices, and Bitcoin prices for daily comparison completed

,date,bitcoin_price,oil_price,nifty_close,sp500_close,nasdaq_close
0,2025-02-10,96548.578654,72.730000,23381.599609,6066.439941,19714.269531
1,2025-02-11,97399.981614,73.670000,23071.800781,6068.500000,19643.859375
2,2025-02-12,95739.977371,71.720000,23045.250000,6051.970215,19649.949219
3,2025-02-13,97836.188561,71.660000,23031.400391,6115.069824,19945.640625
4,2025-02-14,96561.663999,71.050000,22929.250000,6114.629883,20026.769531
...,...,...,...,...,...,...
207,2025-12-24,87406.436367,58.720000,26142.099609,6932.049805,23613.310547
208,2025-12-26,87229.780660,56.600000,26042.300781,6929.939941,23593.099609
209,2025-12-29,87822.908291,57.890000,25942.099609,6905.740234,23474.349609
210,2025-12-30,87156.562661,57.790000,25938.849609,6896.240234,23419.080078
211,2025-12-31,88414.628561,57.260000,26129.599609,6845.500000,23241.990234

In [ ]:
# all_30_queries_finished